
    #head-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #76CDD8;
        height:80px;
    }

    #container{
            display: grid;
            grid-template-columns: 2fr 2fr;
            font-size:24px;
            margin-top: 80px;
            margin-left: 15%;
            margin-right: 15%;
    }
    /* #cam label{
            float: right 20px;
    }
    #mic label{
            float: right 40px;
    }
    #dow label{
            float: right 20px;
    }
    #upl label{
            float: right 20px;
    }
    #chr label{
            float: right 20px;
    } */
 
    #cam,#mic,#dow,#upl,#chr{
            font-size: 24px;
    }
 
    #chk{
            align-items: center;
            text-align: center;
            font-size: 24px;
            margin-top: 6%;
    }
    #btn{
        color : black;
        background-color:#CEDB56;
        border-radius : 30px;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    .ml-auto{
        left: auto !important;
        right: 0px;
    }
    .logo-img{
        width: 150px;
        height: 80px;
    }
    .usr-img{
        width:60px;
        height: 60px;
    }

    #gen-inst{
        margin-top: 10%;
    }

    #system-check{
        margin-left: 10%;
    }
    .txt{
        float: right 20px;
        margin-left: 10px;
    }
    .mtxt{
        float: right 40px;
        margin-left: 20px;
    }

    #usn{
        font-size:20px;
        color:black;
    }